<html>
	Hey Bro
  <body ng-app="BlankApp">
		<!-- <button ng-click='coucou()'> Clique sur le boutton sale pute </button> ça ne fonctionne pas -->
		<button ng-click='coucou()' ng-controller='unController'> Click on me dirty biatch </button>
    <script src="/lib/angular/angular.min.js"> </script>  <!--chargement du fichier angular.min..js dans la page html qui se situe dans lib/angular -->
    <script src="modules.js"> </script> 									<!--chargement du fichier module.js dans la page html -->
  </body>
</html>
