<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sonera Project</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="main.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">        
	</head>
	<body>

		<div class="container">
			<h2>Modal Example</h2>
			<!-- Trigger the modal with a button -->
	  		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
		
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body">
							<div data-ng-controller="main-controller">
								<form name="frm" class="form">
									<div class="form-group"> <!-- class="form-group" pour avoir une case et un titre -->
										<label for="s-nationality">Country:</label> <!-- label pour le titre de la case de dessous-->
										<select id="s-nationality" class="form-control" required="required" data-ng-model="form.nationality" data-ng-options="country as country.name for country in countries"></select>
									</div>
									<div class="form-group">
										<label for="tb-name">Name:</label>
										<input type="tb-name" data-ng-model="form.name" class="form-control" type="text" required="required" data-ng-disabled="!form.nationality"/>
									</div>
									<div class="form-group">
										<label for="tb-age">Age:</label>
										<input type="tb-age" data-ng-model="form.age" class="form-control" type="number" ng-change="checkAge()"data-ng-disabled="!form.name"/>
									</div>
									<div class="form-group">
										<label for="s-nationalit">Gender:</label> 
										<div class="radio">	<!--class="radio" pour avoir un point suivi de quelque chose-->
											<label>
												<input type="radio" data-ng-model="form.gender" name="rb-gender" value="Male" required="required" data-ng-disabled="!form.age"/><!--input_pourcliquer-->
												Male
											</label>
										</div>
										<div class="radio"> <!--class="radio" pour avoir un point suivi de quelque chose-->
											<label>
												<input type="radio" data-ng-model="form.gender" name="rb-gender" value="Female" required="required" data-ng-disabled="!form.age"/>
												<!-- data-ng-disabled="!form.nationality" empeche de remplir les autres champs tant qu'il a pas mit sa nationnalité -->
												Female
											</label>
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
										<label for="Email">Email:</label>
										<div>
											<input id="Email" type="email" class="form-control" required name="Email" ng-model="Email" />
										</div>
									</div>
								</form>
								<form role="form" name="myForm" novalidate>
							  		<div class="form-group" ng-class="{s'has-error':!myForm.password.$valid}">
										<label for="password">Password:</label>
										<input class="form-control" type="text" name="password" placeholder="password..." required ng-model="password"/>
										<span class="help-block" ng-show="myForm.password.$error.required">Required</span>
							 		</div>
									<div class="form-group" ng-class="{'has-error':!myForm.passwordConfirmation.$valid}">
										<label for="passwordConfirmation">Confirm Password:</label>
										<input class="form-control" type="password" name="passwordConfirmation" required ng-model="passwordConfirmation" password-confirm match-target="password"/>
										<span class="help-block" ng-show="myForm.passwordConfirmation.$error.required">Required</span>
										<span class="help-block" ng-show="myForm.passwordConfirmation.$error.match">Passwords do not match.</span>
							  		</div>
								</form>
							<div class="center">
								<button class="btn btn-primary" data-ng-click="submit()" ng-disabled="myForm.$invalid" data-ng-disabled="!form.age">Sign Up</button>
							</div>	
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
	  </div>
	</body>
</html>

