<!-- Quand on utilise un élément "form", une propriété portant le même nom que l'attribut "name" de notre formulaire est créée dans le foutu "$scope" permettant de vérifier que le formulaire est valide (si tous les champs "required" sont remplis). J'utilise la propriété "$valid" du formulaire pour vérifier qu'il est valide et que l'on peut définir la propriété "submitted" sur "true". Et tant que c'est pas true on peut pas envoyer le formulaire pour créer un nouvelle utilisateur. D'où le petit encadré du bas qui s'affiche quand on a envoyé notre formulaire pour montrer qu'il a bien été envoyé quoi -->


<!DOCTYPE html>
<html data-ng-app="myApp">   <!--html lié à notre app angular-->
    <head>
        <meta charset="utf-8" />
        <title>Sonera Homepage</title> <!--tire de la page-->
        <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
        <script src="main.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
		<!-- création de la boite pour se créer un compte -->
        <style type="text/css">
            .box1
            {
                width:500px;
                margin:100px auto auto auto;
                border:1px solid #dedede;
                border-radius:5px;
                padding:20px;
            }
            
            .center 
            {
                text-align:center;
            }
            
            .margin-right-10
            {
                margin-right:10px;   
            }
        </style>
    </head>
    <body data-ng-controller="main-controller">
        <div class="box1">
            <form name="frm" class="form">
				<div class="form-group"> <!-- class="form-group" pour avoir une case et un titre -->
					<label for="s-nationality">Country:</label> <!-- label pour le titre de la case de dessous-->
					<select id="s-nationality" class="form-control" required="required" data-ng-model="form.nationality" data-ng-options="country as country.name for country in countries"></select>
				</div>
				<div class="form-group">
					<label for="tb-name">Name:</label>
					<input type="tb-name" data-ng-model="form.name" class="form-control" type="text" required="required" data-ng-disabled="!form.nationality"/>
				</div>
				<div class="form-group">
					<label for="tb-age">Age:</label>
					<input type="tb-age" data-ng-model="form.age" class="form-control" type="number" ng-change="checkAge()"data-ng-disabled="!form.name"/>
				</div>
				<div class="form-group">
					<label for="s-nationalit">Gender:</label> 
					<div class="radio">	<!--class="radio" pour avoir un point suivi de quelque chose-->
						<label>
						    <input type="radio" data-ng-model="form.gender" name="rb-gender" value="Male" required="required" data-ng-disabled="!form.age"/><!--input_pourcliquer-->
						    Male
						</label>
					</div>
					<div class="radio"> <!--class="radio" pour avoir un point suivi de quelque chose-->
						<label>
						    <input type="radio" data-ng-model="form.gender" name="rb-gender" value="Female" required="required" data-ng-disabled="!form.age"/>
							<!-- data-ng-disabled="!form.nationality" empeche de remplir les autres champs tant qu'il a pas mit sa nationnalité -->
						    Female
						</label>
					</div>
				</div>
        		<div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
            		<label for="Email">Email:</label>
            		<div>
               			<input id="Email" type="email" class="form-control" required name="Email" ng-model="Email" />
            		</div>
        		</div>
			</form>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<form role="form" name="myForm" novalidate>
      			<div class="form-group" ng-class="{s'has-error':!myForm.password.$valid}">
        			<label for="password">Password:</label>
        			<input class="form-control" type="text" name="password" placeholder="password..." required ng-model="password"/>
        			<span class="help-block" ng-show="myForm.password.$error.required">Required</span>
     			</div>
         		<div class="form-group" ng-class="{'has-error':!myForm.passwordConfirmation.$valid}">
        			<label for="passwordConfirmation">Confirm Password:</label>
        			<input class="form-control" type="password" name="passwordConfirmation" required ng-model="passwordConfirmation" password-confirm match-target="password"/>
        			<span class="help-block" ng-show="myForm.passwordConfirmation.$error.required">Required</span>
        			<span class="help-block" ng-show="myForm.passwordConfirmation.$error.match">Passwords do not match.</span>
      			</div>
			</form>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->		
		<div class="center">
        	<button class="btn btn-primary" data-ng-click="submit()" ng-disabled="myForm.$invalid" data-ng-disabled="!form.age">Sign Up</button>
    	</div>
		</div>
	</body>
</html>





