<!DOCTYPE html>
<html>   <!--html lié à notre app angular-->
    <head>
        <meta charset="utf-8" />
        
        <title>Sonera Homepage</title> <!--tire de la page-->
		<center><h1><strong>Sonera Project</strong></h1></center>
		
        <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
        <script src="main2.js"></script>
        <script src="../../bower-angular-messages-master/angular-messages.js"></script>
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
    </head>
    <body>
		<div ng-app="myapp">
			<form name="myForm">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />

				<div ng-messages="myForm.password.$error" ng-show="myForm.password.$touched || myForm.$submitted">
				    <div ng-message="required">required.</div>
				    <div ng-message="minlength">Passwords must be between 8 and 20 characters.</div>
				    <div ng-message="maxlength">Passwords must be between 8 and 20 characters.</div>
				    <div ng-message="pattern"> Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</div>
				</div>
				<br />

				<label for="password_c">Confirm Password</label>
				<input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c required />
				<div ng-messages="myForm.password_c.$error" ng-show="myForm.password_c.$touched || myForm.$submitted">
				    <div ng-message="required">Please confirm your password.</div>
				    <div ng-message="noMatch">Passwords do not match.</div>
				</div>
				<br />
				<button type="submit" class="btn" ng-disabled="!myForm.$valid">Submit</button>
			</form>
		</div>
	</body>
  </html> 
