<html>
	<head>
	<script src="myJS.js"></script>
	<link href="myCSS.css" rel="stylesheet">
	</head>
	<body>
 
		<div id="wrapper" data-spy="scroll" data-target="#spy" class="">
			<!-- Sidebar -->
			<div id="sidebar-wrapper" class="">
				<nav id="spy">
					<ul class="sidebar-nav nav">
						<li class="sidebar-brand active"> <a href="#home" class=""><span class="fa fa-home solo">Home</span></a></li>
						<li class="">
							<a href="#paragraphe1" data-scroll="" class="">
								<span class="fa fa-anchor solo">Introduction</span>
							</a>
						</li>
						<li class="">
							<a href="#paragraphe2" data-scroll="" class="">
								<span class="fa fa-anchor solo">Back End</span>
							</a>
						</li>
						<li class="">
							<a href="#paragraphe3" data-scroll="" class="">
								<span class="fa fa-anchor solo">Front End</span>
							</a>
						</li>
						<li class="">
							<a href="#paragraphe4" data-scroll="" class="">
								<span class="fa fa-anchor solo">Conclusion</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- Page content -->
			<div id="page-content-wrapper" class="">
				<div class="content-header">
					<h1 id="home" class="">
						<a id="menu-toggle" href="#" class="btn btn-menu btn-lg toggle">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						Hey my best Bro
					</h1>
				</div>
				<div class="page-content inset">
					<div class="row">
						<div class="jumbotron text-center">
							<h1 class="">Best report mother fcker!</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 well">
							<legend id="paragraphe1" class="">Introduction</legend>
							<p class="">TEXT BIATCH</p>
						</div>
						<div class="col-md-12 well">
							<legend id="paragraphe2" class="">Back End</legend>
							<p class="">TEXT BIATCH</p>
						</div>
						<div class="col-md-12 well">
							<legend id="paragraphe3" class="">Front End</legend>
							<p class="">TEXT BIATCH</p>
						</div>
						<div class="col-md-12 well">
							<legend id="paragraphe4" class="">Conclusion</legend>
							<p class="">TEXT BIATCH</p>
						</div>
					</div>
					<div class="navbar navbar-default navbar-static-bottom">
						<a href="#" target="_blank" class=""></a>
					</div>
					<a href="#" target="_blank" class=""></a>
				</div>
				<a href="#" target="_blank" class=""></a>
    	</div>
    	<a href="#" target="_blank" class=""></a>
		</div>
	</body>
</html>
