<!-- Quand on utilise un élément "form", une propriété portant le même nom que l'attribut "name" de notre formulaire est créée dans le foutu "$scope" permettant de vérifier que le formulaire est valide (si tous les champs "required" sont remplis). J'utilise la propriété "$valid" du formulaire pour vérifier qu'il est valide et que l'on peut définir la propriété "submitted" sur "true". Et tant que c'est pas true on peut pas envoyer le formulaire pour créer un nouvelle utilisateur. D'où le petit encadré du bas qui s'affiche quand on a envoyé notre formulaire pour montrer qu'il a bien été envoyé quoi -->


<!DOCTYPE html>
<html data-ng-app="myApp">   <!--html lié à notre app angular-->
    <head>
        <meta charset="utf-8" />
        <title>Sonera Homepage</title> <!--tire de la page-->
		<center><h1><strong>Sonera Project</strong></h1></center>
        <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
        <script src="main.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/jquery-birthday-picker.min.js"></script>

		<!-- création de la boite pour se créer un compte -->
        <style type="text/css">
            .boxLeft
            {
            	margin:100px auto;
                width:500px;
                border:1px solid #dedede;
                border-radius:5px;
                padding:20px;
				background-color:#ADD8E6;
				float:left;
            }
            .boxRight
			{
				margin:100px auto;
       			width:500px;
                border:1px solid #dedede;
                border-radius:5px;
                padding:20px;
				background-color:#ADD8E6;
				float:right;
   			}
            .center 
            {
                text-align:center;
            }
        </style>

    <body data-ng-controller="main-controller">
		<div class="container">
				<div class="boxRight">
				    <form name="frm" class="form">
						<div class="form-group"> <!-- class="form-group" pour avoir une case et un titre -->
							<label for="s-nationality">Country:</label> <!-- label pour le titre de la case de dessous-->
							<select id="s-nationality" class="form-control" required="required" data-ng-model="form.nationality" data-ng-options="country as country.name for country in countries"></select>
						</div>
						<div class="form-group">
							<label for="tb-name">Last Name:</label>
							<input type="tb-lastName" data-ng-model="form.lastName" class="form-control" type="text" required="required" data-ng-disabled="!form.nationality"/>
						</div>
						<div class="form-group">
							<label for="tb-name">First Name:</label>
							<input type="tb-firstName" data-ng-model="form.firstName" class="form-control" type="text" required="required" data-ng-disabled="!form.lastName"/>
						</div>
						<div class="form-group">
							<label for="tb-school">Actual School:</label>
							<input type="tb-school" data-ng-model="form.school" class="form-control" type="text" data-ng-disabled="!form.firstName"/>
						</div>
						<div class="form-group">
							<label for="s-nationalit">Gender:</label> 
							<div class="radio">	<!--class="radio" pour avoir un point suivi de quelque chose-->
								<label>
									<input type="radio" data-ng-model="form.gender" name="rb-gender" value="Male" required="required" data-ng-disabled="!form.school"/><!--input_pourcliquer-->
									Male
								</label>
							</div>
							<div class="radio"> <!--class="radio" pour avoir un point suivi de quelque chose-->
								<label>
									<input type="radio" data-ng-model="form.gender" name="rb-gender" value="Female" required="required" data-ng-disabled="!form.age"/>
									<!-- data-ng-disabled="!form.nationality" empeche de remplir les autres champs tant qu'il a pas mit sa nationnalité -->
									Female
								</label>
							</div>
						</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<form role="form" name="myForm">
						<div class="form-group">
				    		<label for="Email">Email:</label>
				    		<div>
				       			<input type="email" name="email" ng-model="email" required>
								<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
								<span ng-show="myForm.email.$error.required">Email is required</span>
								<span ng-show="myForm.email.$error.email">Invalid email address</span>
								</span>
							</div>
						</div>
						</form>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
					<form role="form" name="myForm" novalidate>
			  			<div class="form-group" ng-class="{s'has-error':!myForm.password.$valid}">
							<label for="password">Password:</label>
							<input class="form-control" type="text" name="password" placeholder="password..." required ng-model="password"/>
							<span class="help-block" ng-show="myForm.password.$error.required">Required</span>
			 			</div>
				 		<div ng-class="{'has-error':!myForm.equal.$valid}">
							<label for="equal">Confirm Password:</label>
							<input class="form-control" type="password" name="equal" required ng-model="equal" password-confirm match-target="password"/>
							<span class="help-block" ng-show="myForm.equal.$error.required">Required</span>
							<span class="help-block" ng-show="myForm.equal.$error.match">Passwords do not match.</span>
			  			</div>
					</form>
				<div class="center">
					<button class="btn btn-primary" data-ng-click="submit()" ng-disabled="myForm.$invalid" data-ng-disabled="!form.age">Sign Up</button>
				</div>
		 	</div>
			<div class="boxLeft">
			    <form name="frm" class="form">	
					<div class="form-group" ng-class="{'has-error': registerForm.$dirty && registerForm.Email.$invalid, 'has-success': registerForm.Email.$valid}">
			    		<label for="Email">Email:</label>
			    		<div>
			       			<input id="Email" type="email" class="form-control" required name="Email" ng-model="Email" />
							<span class="help-block" >Required</span>
			    		</div>
					</div>
				</form>
				<form role="form" name="myForm" novalidate>
					<div class="form-group" ng-class="{s'has-error':!myForm.password.$valid}">
						<label for="password">Password:</label>
						<input class="form-control" type="text" name="Password" placeholder="Password..." required ng-model="Password"/> <!-- mettre des majuscule sinon pb avec l'autre mdp -->
						<span class="help-block" ng-show="myForm.password.$error.required">Required</span>
					</div>
				</form>
			<div class="center">
				<button class="btn btn-primary" data-ng-click="submit()" ng-disabled="myForm.$invalid" data-ng-disabled="!form.age">Sign Up</button>
			</div>
		</div>
	</body>
</html>
