<div class="i-am-centered">
		<div class="row">
    	<section class="col-sm-8">
    	  <form class="well">
    	    <h4><span class="label label-default"> If you want to let me a message </span></h4>
          <fieldset>
    	      <label for="textarea">Your message:</label>
    	        <textarea id="textarea" class="form-control" rows="4"></textarea>
              <p class="help-block">The window can grow</p>
              <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
          </fieldset>
        </form>
      </section>
    </div>
    </div>
