<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello {{first_name}} {{last_name}} !</title>
    </head>

    <body>

      <form action="/home" method="POST">
          <strong> Search a student :</strong>
        <p>
            <input type="text" value="ID" name="id">
            <input type="submit" value="search">
        </p>
      </form>

    <strong>Results : </strong>
        <p>
        <a href="profileJesus.html" title="Jesus's Profile"> Jesus Christ </a>
        <a href="profile0.html" title="Profile0"> Init </a>
        </p>

    </body>
	<a href="/logout">[logout]</a>

</html>
