<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Sonera - Home</title>
    </head>

    <body>
		<p>Hello {{first_name}} {{last_name}} !
		Your email is {{ email }}. Don't forget it, you'll need it to login ! </p>
    <p>My profile : <a href="profile" title="Profile"> Profile </a> </p>
		<form action="/getSearch" method="POST">
		<strong> Search a student by his/her destination and origin country (optionnal) :</strong>
        <p>
            <input type="text" name="search_dest">
            <input type="text" name="search_country">
            <input type="submit" value="search">
        </p>
      </form>

    <strong>Results : </strong>
        <p>{% if resultFound %}
            {% for u in result_list %}
              {{u}}
            {% endfor %}
          {% endif %}
        </p>

    </body>
	<a href="/logout">[logout]</a>

</html>
