<!DOCTYPE html>

<html lang="en" data-ng-app="myApp">
	<head>
			 <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
       <script src="/static/main.js"></script>
		   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
			 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			 <script data-require="angular.js@1.2.14" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular.js"></script>

			 <script src="/build/js/countrySelect.min.js"></script>
			 <script src="bower_components/angular-country-picker/country-picker.js"></script>
			 <script src="node_modules/angular-country-picker/country-picker.js"></script>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			 <link rel="stylesheet" href="build/css/countrySelect.min.css">
			 <link rel="stylesheet" href="/static/build/css/demo.css">
			 <link rel="stylesheet" href="style.css" type="text/css" media="screen">
			 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">

			 <meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="main2.js"></script>
	</head>
	<body ng-controller="myappCtrl" >
		<div>
				<form  name="myform" class="form" >
				<div class="control-group" ng-class="{error:!myform.password.$valid}" novalidate>
				    <label for="inputPassword">Password:</label>
				    <div>
				        <input type="text" id="inputPassword" name="password" ng-model="password" valid-password />
				        <div>
				            <span ng-show="!!myform.password.$error.isBlank">Password Required.</span>
				            <span ng-show="!!myform.password.$error.isWeak">Must contain one upper &amp; lower case letter and a non-letter (number or symbol.)</span> 
				            <span ng-show="!!myform.password.$error.invalidLen">Must be 8-20 characters.</span>
				        </div>
				    </div>
				</div>
				<div class="control-group" ng-class="{error:!myform.password_c.$valid}">
				    <label for="password_c">Confirm Password:</label>
				    <div>
				        <input type="text" id="password_c" name="password_c" ng-model="password_c" valid-password-c />
				        	<div> 
				            <span ng-show="!!myform.password_c.$error.isBlank">Confirmation Required.</span>
				            <span ng-show="!!myform.password_c.$error.noMatch">Passwords don't match.</span>
				        	</div>
				        </div>
				    </div>
				</div>
				</form>
		</div>
	</body>
</html>
