<!DOCTYPE html>
<html lang="en">

<head>
    <title> Sonera </title>

</head>

<body>
  <p class="text"> Welcome on Sonera ! The social network for erasmus students all around the world ! </p>

  <li class="text"> Home </li>

  {% if logged %}
    <a href="/logout">[logout]</a>
    {{ identifiant }}

  {% else %}
    <form action="/login" method="POST">
      Sign In
      <p>
          <input type="text" value="ID" name="id"> <br>
          <input type="text" value="password" name="password"> <br>
          <input type="submit" value="send">
      </p>

        Sign Up
        <p>
            <input type="text" value="first name" name="first_name"><br>
            <input type="text" value="last name" name="last_name"><br>
            <input type="text" value="password" name="password"><br>
            <input type="submit" value="send">
        </p>

  {% endif %}

<!-- commentaire -->

</body>

</html>
