<!DOCTYPE html>
<html lang="en">

<head>
    <title> Sonera </title>

</head>

<body>
	<p class="text"> Welcome on Sonera ! The social network for erasmus students all around the world ! </p>
	<p>{{ message }}
	There are {{ nbUsers }} users on Sonera.</p>

	<form action="/login" method="POST">
	<strong>Sign In</strong>
		<p>
			Pseudo <br>
			<input type="text" name="pseudo"> <br>
			Password <br>
			<input type="text" name="password_sigin"> <br>
			<input type="submit" value="send">
		</p>
	</form>

	<form action="/signup" method="POST">
		<strong>Sign Up</strong>
		<p>
      Pseudo <br>
			<input type="text" name="pseudo"><br>
			First name <br>
			<input type="text" name="first_name"><br>
			Last name <br>
			<input type="text" name="last_name"><br>
			Password <br>
			<input type="text" name="password_sigup"><br>
			You can say something about yourself :<br>
			<input type="text" name="biography"><br>
			<input type="submit" value="send">
		</p>
	</form>


<!-- commentaire -->

</body>

</html>
