<!-- Quand on utilise un élément "form", une propriété portant le même nom que l'attribut "name" de notre formulaire est créée dans le foutu "$scope" permettant de vérifier que le formulaire est valide (si tous les champs "required" sont remplis). J'utilise la propriété "$valid" du formulaire pour vérifier qu'il est valide et que l'on peut définir la propriété "submitted" sur "true". Et tant que c'est pas true on peut pas envoyer le formulaire pour créer un nouvelle utilisateur. D'où le petit encadré du bas qui s'affiche quand on a envoyé notre formulaire pour montrer qu'il a bien été envoyé quoi -->


<!DOCTYPE html>
<html data-ng-app="myApp">   <!--html lié à notre app angular-->
    <head>
       <meta charset="utf-8" />

       <title>Sonera Homepage</title> <!--tire de la page-->
       <script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
       <script src="main.js"></script>
		   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
			 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			 <script data-require="angular.js@1.2.14" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular.js"></script>
			 <script src="../build/js/countrySelect.min.js"></script>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			 <link rel="stylesheet" href="build/css/countrySelect.min.css">
			 <link rel="stylesheet" href="../build/css/demo.css">
			 <link rel="stylesheet" href="style.css" type="text/css" media="screen">

			 <meta name="viewport" content="width=device-width, initial-scale=1">
			 
		<script>
		    function Ctrl($scope) {
		        $scope.text = 'abc@example.com';
		    }
		</script>

		<!-- création de la boite pour se créer un compte -->
        <style type="text/css">
            .box1
            {
                width:500px;
                margin:100px auto auto auto;
                border:1px solid #dedede;
                border-radius:5px;
                padding:20px;
            }
            .center
            {
                text-align:center;
            }
            .margin-right-10
            {
                margin-right:10px;
            }
        </style>
    </head>

    <body>
      <div class="box1">
      <div class="container">
			<h2>Welcome on Sonera</h2>
			<!-- Trigger the modal with a button -->
	  		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Sign Up</button>
	  		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Sign In</button>

			<!--- Modal 1 ------------------------------------------------------------------------------------------------->
			<div data-ng-controller="main-controller">
			<div class="modal fade" id="myModal1" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
            <div class="modal-header">
  						<button type="button" class="close" data-dismiss="modal">&times;</button>
  						<h4 class="modal-title">Sign Up</h4>
  					</div>

            <!-- Modal body-->
						<div class="modal-body">
              <form action="/signup" method="POST">

									<label>Email:</label></br>
									<input name="email" type="email" data-ng-model="form.email" class="form-control"/></br>

									<label for="first_name">First name:</label></br>
                  <input name = "first_name" type="text" data-ng-model="form.first_name" class="form-control" required="required" data-ng-disabled="!form.email"/></br>

									<label for="last_name">Last name:</label></br>
                  <input name = "last_name" type="text" data-ng-model="form.last_name" class="form-control" required="required" data-ng-disabled="!form.first_name"/></br>

                  <!--<label for="password_sigup">Password:</label></br>
                  <input type="password" name="password_sigup" placeholder="password..." class="form-control" data-ng-model="form.password" required="required" data-ng-disabled="!form.last_name"/></br>-->

                  <!--<input type="password" name="passwordConfirmation" placeholder="confirm password..." class="form-control" data-ng-model="form.passwordConfirmation" password-confirm match-target="password_sigin" required="required" data-ng-disabled="!form.password"/></br>
                  <span class="help-block" ng-show="myForm.passwordConfirmation.$error.required">Required</span>
                  <span class="help-block" ng-show="myForm.passwordConfirmation.$error.match">Passwords do not match.</span>-->
                  
                  
                  <form role="form" name="myForm" novalidate>
					  			<div class="form-group" ng-class="{s'has-error':!myForm.password.$valid}">
										<label for="password_sigup">Password:</label>
										<input class="form-control" type="password" name="password_sigup" placeholder="password..." data-ng-model="form.password" required="required" data-ng-disabled="!form.last_name"/>
										<span class="help-block" ng-show="myForm.password.$error.required">Required</span>
					 				</div>
						 			<div class="form-group" ng-class="{'has-error':!myForm.passwordConfirmation.$valid}">
										<label for="passwordConfirmation">Confirm Password:</label>
										<input class="form-control" type="password" name="passwordConfirmation" data-ng-model="form.passwordConfirmation" password-confirm match-target="password" data-ng-disabled="!form.password"/>
										<span class="help-block" ng-show="myForm.passwordConfirmation.$error.required">Required</span>
										<span class="help-block" ng-show="myForm.passwordConfirmation.$error.match">Passwords do not match.</span>
					  			</div>
									</form>

                  <label for="biography">You can say something about yourself:</label></br>
                  <input name="biography" type="text" name="biography" data-ng-model="form.biography" required="required" class="form-control" data-ng-disabled="!form.passwordConfirmation"></br>
									
									<label for="gender">Gender:</label></br>
									<input name="gender" type="radio" value="Male" data-ng-model="form.gender" required="required" data-ng-disabled="!form.biography" checked>
									<label>Male</label>
									
									<input name="gender" type="radio" value="Female" data-ng-model="form.gender" required="required" data-ng-disabled="!form.biography">
									<label>Female</label></br>

                  <div class="form-group">
  								    <label for="s-nationality">Nationality:</label></br>
  										<input id="country_selector" type="text">
  										<label for="country_selector" style="display:none;"></label>
  								</div>
  								<div class="form-item" style="display:none;">
  									<input type="text" id="country_selector_code" name="country_selector_code" data-countrycodeinput="1" readonly="readonly" placeholder="Selected country code will appear here" />
  									<label for="country_selector_code"></label>
  								</div>
  								<script>$("#country_selector").countrySelect({});</script>

                <div class="form-item" style="display:none;">
                  <input name="country" type="text" class="form-control"/>
									<input name="country_selector_code" type="text" id="country_selector_code" data-countrycodeinput="1" readonly="readonly" placeholder="Selected country code will appear here" />
									<label for="country_selector_code"></label>
								</div>
								<script>$("#country_selector").countrySelect({});</script>

                <!-- AGE pas configuré dans le serveur pour le moment
								<div class="form-group">
									<label for="age">Age:</label>
									<input name = "age" type="number" data-ng-model="form.age" class="form-control" type="number">
								</div>-->

                <label for="school">School:</label></br>
                <input type="text" name="school" required="required" class="form-control" data-ng-disabled="!form.gender"/>

                <br></br>

                <div class="modal-footer">
                  <div class="center">
                    <button class="btn btn-primary" data-ng-click="submit()" ng-disabled="myForm.$invalid" data-ng-disabled="!form.school">Sign Up</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      						</div>
    						</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- Modal 2 -------------------------------------------------------------------------------------------------->
		<div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Sign In</h4>
					</div>
          <!-- Modal body-->
					<div class="modal-body">
              <form action="/login" method="POST">

							<label>Email:</label></br>
							<input class="form-control" type="email" name="email" ng-model="text" required/>
							<!--<span class="error" ng-show="myForm.input.$error.required">Required!</span>
							<span class="error" ng-show="myForm.input.$error.email">Not valid email!</span>-->

							<label>Password:</label></br>
							<input class="form-control" type="password" name="password_sigin" required ng-model="password_sigin"/>
							<!--<span class="help-block" ng-show="myForm.password_sigin.$error.required">Required</span>-->

						<div class="center">
       			 	       <button class="btn btn-primary" data-ng-click="submit()" ng-disabled="myForm.$invalid" data-ng-disabled="!form.email">Sign In</button>
              			   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
